/* Mobile devices and small screens */
@media only screen and (max-width: 1024px) {
    html {
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }

    html::-webkit-scrollbar {
        display: none !important;
        -webkit-appearance: none !important;
        width: 0px !important;
        background: transparent !important;
    }
}

/* Desktop and Laptop screens */
@media only screen and (min-width: 1025px) {
    html {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
}
